:root {
  --main-background-color: #e7816b;
  --main-app-color: #fff;
  --home-img-top-color: #f4f4f4;
  --footer-background-color: #1d1c1e;
  --linier-gridient-co1: #5d020200;
  --cards-det-back-color: #fdf3f0;
  --btn-color: #333136;
  --page-sec-background: #f1f3f5;
  --map-detBckground: #fdf3f0;
  --btn-hover-background: #ffad9b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Jost;
}
.section1,
nav,
.home .section3,
.home .section2,
.design .section2,
.ours .section1,
.ours .section2,
.ours .section3,
.countries,
.footer-main,
.locations section,
.designs-sec,
footer .section4 {
  max-width: 1100px;
  margin: 50px auto;
}

/* .home .section1, */
/* .locations section, */
.designs-sec div,
nav,
nav ul,
.big,
.small,
.home .section3,
.home .section3 div,
.design .section2 .main,
.design .section2 .main div,
.ours .section1,
.ours .section2,
.ours .section3,
.contact .section1,
.countries,
.countries div,
.home .section2,
.footer-main,
.locations .details,
.designs-sec,
footer .section4 {
  display: flex;
}
nav,
.footer-main,
.home .section1,
footer .section4 {
  margin: 0 auto;
}
.home .section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid red;
  /* padding-left: 30px; */
  background-color: var(--main-background-color);
  color: var(--main-app-color);
}
.home .section1 .img-cell {
  text-align: end;
  border-radius: 50%;
  background-image: linear-gradient(#5d02023d, #5d020200);
}
.home .section1 .content {
  border: 1px solid red;
  margin-right: -150px;

  /* margin-left: 50px; */
}
.home .section1 p {
  width: 445px;
  height: 78px;
}
.home .section1 div {
  padding-top: 70px;
}
.home .section1 .img-cell img {
  height: 450px;
}
.home .section1 h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  margin-right: -150px;
  width: 540px;
  height: 165px;
}
.home .section1 p,
.home .section3 p,
.design .section1 p,
.design .section2 p,
.contact .section2 p,
.ours p,
footer .section4 p,
.contact .section1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  letter-spacing: 1px;
  width: 152px;
  height: 56px;
  background-color: var(--main-app-color);
  border-radius: 8px;
}

.home .section2 a,
.designs-sec a {
  text-decoration: none;
  display: inline-block;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* text-align: center; */
  color: var(--main-app-color);
  /* font-family: jost; */
  /* font-family: Jost; */
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  letter-spacing: 5px;
  /* text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none; */
}
.icon {
  /* color: var (--main-background-color); */
  color: var(--main-background-color);
}
.home .section2 h1 {
  /* font-family: Jost; */
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
  color: var(--main-app-color);
  text-transform: uppercase;
  /* text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
   */
}
nav,
.countries,
.footer-main
/* ,
.locations section  */ {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.countries,
.locations section {
  padding: 0;
}
.footer-main {
  align-items: end;
}

nav ul {
  gap: 40px;
  list-style: none;
}
nav ul li {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
}
nav ul li:hover {
  text-decoration: underline;
}
.home .section2 div,
.designs-sec div {
  width: 100%;
}
.home .section2 .smalls {
  display: flex;
  flex-direction: column;
}

.home .section2,
.home .section2 .smalls {
  gap: 20px;
}
.big {
  height: 564px;
  /* background-image: linear-gradient(#f50b0b, #000000); */
  /* background-image: linear-gradient(#00000000, #00000084); */
}
.small,
.designs-sec div {
  height: 272.3px;
}

.big,
.small,
.designs-sec div {
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home .section3 {
  align-items: center;
  gap: 30px;
}
.home .section3 div,
.design .section2 .main div,
.countries div {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.design .section2 .main div,
.countries div {
  gap: 0;
}

.home .section3 div p,
.design .section2 .main div p {
  text-align: center;
}
.home .section3 img {
  width: 180px;
  height: 160px;
}
.home .section3 .container {
  background-image: linear-gradient(#5d02023d, #5d020200);
  border-radius: 50%;
  height: 170px;
}
.home .section3 h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
}
/*  DESIGN */
.design .section2 .main {
  justify-content: space-between;
  gap: 30px;
}
.design .section2 img {
  width: 100%;
  height: 350px;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}
.design .section2 .det {
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  background-color: var(--cards-det-back-color);
  cursor: pointer;
  transition: all 0.5s;
}
.design .section2 .det:hover {
  background-color: var(--main-background-color);
}
.designs-sec {
  gap: 20px;
}

/* OURS */
.ours .section1,
.ours .section2,
.ours .section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px solid red;
}
.countries div img {
  height: 100px;
}

.ours .section1 .det {
  /* border: 2px solid red; */
  height: auto;
  height: 480px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  /* background-color: #e7816b; */
  background-image: linear-gradient(#5d02023d, #5d020200);

  /* ba */
  /* background-image: linear-gradient(#5d020200, #5d020200); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  color: var(--main-app-color);
}
/* .ours .section1 .cont { */
/* background-color: var(--main-background-color); */
/* } */
.ours .section1 h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 30px;
}
.ours .section2 h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: var(--main-background-color);
  margin-bottom: 20px;
}
.ours .section2 {
  grid-template-columns: 1fr 1.4fr;
}
.ours .section2 .first {
  margin-bottom: 20px;
}
.ours .section2 div {
  background-color: var(--map-detBckground);
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}
.ours .section2 img {
  width: 100%;
  height: 580px;
}
.ours .section2 p {
  color: #0000009e;
}
.ours p {
  width: 458px;
}
/* FOOTER */
footer h3 {
  font-family: Jost;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff5e;
}
.footer-icon {
  width: 28px;
  height: 28px;
  color: var(--main-background-color);
}
footer .icons-cell {
  display: flex;
  align-items: center;
  gap: 6px;
}
footer .main {
  /* padding: 30px 0; */
  background-color: var(--footer-background-color);
  /* z-index: 2; */
}
footer .main {
  padding: 30px 0;
  padding-top: 100px;
}
.footer-nav ul li {
  color: var(--main-app-color);
}
.footer-nav {
  border-bottom: 1.5px solid #ffffff1a;
}
footer .section4 {
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-background-color);
  color: var(--main-app-color);
  border-radius: 11px;
  padding: 30px 0;
  /* margin-bottom: -30px; */
  /* z-index: 10; */
}
footer .section4 h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  width: 268px;
  margin-bottom: 20px;
}
footer .section4 p {
  width: 459px;
}
/* LOCATIONS */
.locations .details {
  gap: 80px;
  align-items: center;
}
.locations .details div {
  background-image: linear-gradient(#5d02023d, #5d020200);
}
.locations .dets-cell {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--map-detBckground);
  border-radius: 11px;
  padding-left: 80px;
  gap: 20px;
}
.locations .section1,
.locations .section3,
.locations .section2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* align-items: center; */
}
.locations .section2 {
  grid-template-columns: 1fr 1.5fr;
}
.locations h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: var(--main-background-color);
}
.locations p,
.locations h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #000000c7;
}
.locations p {
  font-weight: 400;
}
/* CONTACT */
.contact .section1 p {
  width: 445px;
}
.contact .section1 h1 {
  /* font-family: Jost; */
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 30px;
  /* text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none; */
}
.contact .section1 {
  /* max-width: 900px; */
  align-items: center;
  /* border: 1px solid red; */
  background-color: var(--main-background-color);
  overflow: hidden;
  padding-right: 70px;
  color: var(--main-app-color);
}
.contact .section1 input {
  border: none;
  border-bottom: 1px solid var(--main-app-color);
  background-color: inherit;
  padding: 10px 0;
  padding-left: 10px;
  /* content: ; */
}
.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -50px;
}
.contact .section1 .det {
  background-image: linear-gradient(#5d02023d, #5d020200);
  border-radius: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  margin-top: -70px;
}
.contact .section1 div {
  /* border: 1px solid red; */
  width: 100%;
}
