:root {
  --homebackground: #0e0e0e;
  --footerBck: #101010;
  --blackColor: #000;
  --mainColor: #fff;
  --semiMainColor: #d87d4a;
  --sampleBackground: #f1f1f1;
  --semiBackground: #f1f1f1;
  --hoverBtn: #e99768;
}

.see-products {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: var(--mainColor);
  width: 160px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--semiMainColor);
  transition: all 0.5s;
}
.see-products2 {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: var(--mainColor);
  width: 160px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--homebackground);
  transition: all 0.5s;
}

/* HOME; SECTION ONE */

.section1 {
  max-width: 1440px;
  height: 729px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--homebackground);
  margin-top: -60px;
  margin-left: -5px;
}
.section1 img {
  width: 400px;
  height: 400px;
}
.section1 .main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section1 h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  color: var(--mainColor);
}

.section1 p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: var(--mainColor);
}
.section1 h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  letter-spacing: 10px;
  color: var(--mainColor);
}

/* HOME; SECTION TWO */
.section2 {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
  gap: 100px;
  padding-top: 80px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: var(--semiMainColor);
  color: var(--mainColor);
}
.section2 h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}
.section2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.section2 button:hover {
  background-color: #2f2f2f;
}
/*HOME; SECTION THREE */
.section3 {
  max-width: 1000px;
  margin: 0 auto;
  height: 320px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 50px;
}
.section3 h1 {
  margin-top: 50px;
}
/* HOME; SECTION FOUR */
.section4 {
  max-width: 1000px;
  height: 319.8px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  border: 1px solid red;
  gap: 30px;
  /* justify-content: space-between; */
}
.section4 img {
  border-radius: 11px;
}
.section4 .details {
  border-radius: 11px;
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
}
/* SAMPLES */
.samples {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  margin-top: 150px;
  background-color: var(--sampleBackground);
}
.samples div {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.samples img {
  width: 122.95px;
  height: 160px;
  margin-top: -85px;
  box-shadow: 0 50px 40px 20px black;
}
/* BRINGING */
.bringing {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
.bringing h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}
.bringing span {
  color: var(--semiMainColor);
}
.bringing p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.bringing img {
  width: 500px;
  height: 500px;
  border-radius: 11px;
}
/* APPLICATION NAVIGATION */
.app-nav {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.app-nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
.app-nav li {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  transition: all 0.5s;
  color: var(--mainColor);
}
.nav-link:hover {
  color: var(--semiMainColor);
}
.app-nav h1 {
  color: var(--mainColor);
}
/* FOOTER CELL */
.footer-cell {
  background-color: var(--footerBck);
}
.footer-cell .main {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  gap: 350px;
}
.footer-cell blockquote {
  width: 540px;
  height: 100px;
  top: 3721px;
  left: 165px;
  gap: 0px;
  opacity: 0.5px;
}
/* HEADPHONES */

.headphones .head {
  background-color: var(--blackColor);
  padding-bottom: 30px;
}
.headphones .head h1 {
  text-align: center;
  color: var(--mainColor);
}

.headphones section {
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
.headphones button:hover {
  background-color: var(--hoverBtn);
}
.headphones p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  height: 100px;
}
.headphones img {
  padding: 20px;
  background-color: var(--semiBackground);
  border-radius: 11px;
}
/* SPEAKERS */
.speakers section {
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
.speakers p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  height: 100px;
}
/* EARPHONES */
.earphones section {
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
