:root {
  --main-background-color: #e7816b;
  --main-app-color: #fff;
  --home-img-top-color: #f4f4f4;
  --footer-background-color: #1d1c1e;
  --linier-gridient-co1: #5d020200;
  --cards-det-back-color: #fdf3f0;
  --btn-color: #333136;
  --page-sec-background: #f1f3f5;
  --map-detBckground: #fdf3f0;
  --btn-hover-background: #ffad9b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Jost;
}
.section1,
nav,
.home .section3,
.home .section2,
.design .section2,
.ours .section1,
.ours .section2,
.ours .section3,
.countries {
  max-width: 1200px;
  margin: 0 auto;
}

.section1,
nav,
nav ul,
.home .section3,
.home .section3 div,
.design .section2 .main,
.design .section2 .main div,
.ours .section1,
.ours .section2,
.ours .section3,
.countries,
.countries div,
.home .section2 {
  display: flex;
}
.section1 h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.section1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  letter-spacing: 1px;
  width: 152px;
  height: 56px;
  background-color: var(--main-app-color);
  border-radius: 8px;
}

nav,
.countries {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.countries {
  padding: 0;
}

nav ul {
  gap: 40px;
  list-style: none;
}
nav ul li {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
}
nav ul li:hover {
  border-bottom: 1px solid var(--footer-background-color);
}
.home .section2 div {
  border: 1px solid red;
  width: 100%;
}
.big {
  height: 501.5px;
  background-size: cover;
  background-position: center;
}
.small {
  height: 250px;
  background-size: cover;
  background-position: center;
}
.home .section3 {
  align-items: center;
  gap: 30px;
}
.home .section3 div,
.design .section2 .main div,
.countries div {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.design .section2 .main div,
.countries div {
  gap: 0;
}

.home .section3 div p,
.design .section2 .main div p {
  text-align: center;
}
.section3 img {
  width: 180px;
  height: 150px;
}
/* WEB DESIGN */
.design .section2 .main {
  justify-content: space-between;
  gap: 30px;
}
.design .section2 img {
  width: 100%;
  height: 350px;
}

/* OURS */
.ours .section1,
.ours .section2,
.ours .section3 {
  border: 1px solid red;
}
.countries div img {
  height: 100px;
}
