@media (max-width: 800px) {
  /* HOME */
  .home .section1 h1,
  .home .section1 p {
    text-align: center;
  }
  .home .section1 {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 60px;
    margin-bottom: 100px;
  }
  .home .section1 .content {
    align-items: center;
    gap: 30px;
  }
  .home .section1 .img-cell {
    right: -15%;
    top: 10%;
  }
  .home .section2 {
    flex-direction: column;
  }
  .home .section2 .big,
  .home .section2 .small {
    height: 200px;
  }
  .home .section3 {
    flex-direction: column;
  }
  .home .section3 .main {
    flex-direction: row;
  }
  .home .section3 .main .det {
    align-items: start;
  }
  .home .section3 .main .det p {
    text-align: start;
  }
  /* LOCATIONS */
  .locations .section1,
  .locations .section3,
  .locations .section2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .locations .section2 {
    flex-direction: column;
  }
  .locations .img {
    width: 100%;
    height: 300px;
  }
  .locations .details {
    width: 100%;
    /* justify-content: center; */
  }
  .locations .dets-cell {
    width: 100%;
  }
  /* OURS */
  .ours .section1,
  .ours .section2,
  .ours .section3 {
    display: flex;
    flex-direction: column;
  }
  .ours .section1,
  .ours .section3 {
    flex-direction: column-reverse;
  }
  .ours .section1 img,
  .ours .section2 img,
  .ours .section3 img {
    height: 320px;
  }
  .ours .section1 .cont,
  .ours .section2 div,
  .ours .section3 .det {
    width: 100%;
  }
  .ours .section3 .det .cont,
  .ours .section1 .det,
  .ours .section2 div {
    align-items: center;
    width: 100%;
  }
  .ours .section2 div {
    padding-left: 0;
  }
  .ours .section3 .det .cont p,
  .ours .section2 div p,
  .ours .section1 .det p {
    text-align: center;
    width: 80%;
  }
  .countries {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 0;
  }
  /* DESIGN */
  .design .section2 .main .cell {
    flex-direction: row;
  }
  .design .section2 .main {
    flex-direction: column;
  }
  .designs-sec {
    flex-direction: column;
  }
  .design .section2 .main .det {
    height: 350px;
    justify-content: center;
    gap: 20px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 0;
  }
  .design .section2 .main img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 11px;
  }
  /* CONTACT */
  .contact .section1 {
    flex-direction: column;
    padding: 50px 0;
  }
  .contact .section1 .det {
    padding: 0;
    margin-top: -70px;
  }
  .contact .section1 .det p {
    width: 100%;
  }
}
